@font-face {
	font-family: ubuntu;
	src: url(ubuntu.ttf);
}

* {
	font-family: ubuntu;
}

body {
	background-color: #333;
}

h3, label {
	color: #fff;
}

label {
	font-size: 10pt;
}

.panel {
	width: 200px;
	height: 200px;
	background-color: #eee;
	position: relative;
	border: 1px solid #fff;
	display: inline-block;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#panel1 {
	color: black;
	margin-right: 10px;
	cursor: pointer;
}

#panel2 {
	color: white;
	cursor: pointer;
}

#result-container {
	display: none;
}

#loading-container {
	display: none;
}

#loader {
	width: 410px;
}

#btn-color {
	margin-top: 5px;
	cursor: pointer;
}

.btn {
	margin-top: 10px;
	padding: 10px;
	background-color: #008080;
	color: #fff;
	border: none;
	outline: none;
	width: 200px;
	border: 1px solid #fff;
	cursor: pointer;
}

.btn:hover {
	background-color: #00aaaa;
}
